body {
  font-family: 'Lato', sans-serif;
}

header {
  /* using flex to create 2 column layout (.logo + .links) */
  display: flex;
  /* remember padding vs margins */
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

#vsh {
  width: 120px;
  height: 120px;
}

.logo {
  flex: 50%;
}

.links {
  flex: 50%;
  text-align: right;
}

.links a {
  text-decoration: none;
  padding: 0 10px;
  color: #b8b8b8;
}

.active {
  color: #333 !important;
}

.intro {
  color: #333;
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.intro a {
  text-decoration: none;
  color: #8fc0f3;
}
