body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

header {
  /* using flex to create 2 column layout (.logo + .links) */
  /* default direction is row */
  display: flex;
  /* header overlaps with .intro; bigger z-index stacks on top of smaller z-index */
  z-index: 3;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#vsh {
  width: 120px;
  height: 120px;
}

.logo {
  flex: 50%;
}

.links {
  flex: 50%;
  text-align: right;
}

.links a {
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
}

.active {
  color: #333 !important;
}

.intro {
  background: #baddb1;
  height: 500px;
  margin-top: -150px;
}

#intro-text {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 200px;
}

.main {
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #333;
}

.quotes {
  margin-left: 250px;
  margin-right: 250px;
}

.quotes a {
  text-decoration: none;
  color: #8fc0f3;
}

#rudy {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
}
